.header {
    display: grid;
    width: 1052px;
    min-height: 105px;
    grid-template-columns: 2fr 1fr 2fr;
    margin: 95px 28px auto 22px;
}

.page { 
    margin: 0 auto; 
    padding: 0; 
    width: 1100px; 
    text-align: left;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 148px;
    height: 105px;
    margin-left: 36px;
}

.logo-black {
    width: 148px;
    height: 105px;
}

.header-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 105px;
    align-content: center;
    justify-content: center;
}

.left-menu {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin-left: 31px;
    width: 391.48px;
    letter-spacing: 1.1;
}

.contact {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    margin-left: 101px;
    min-height: 105px;
    align-items: center;
    justify-content: center;
}

.header-text {
    list-style-type: circle;
    color: #111;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}    

.first-point {
    list-style-type: none;
}

.no-underline {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.cover-block {
    position: relative;
    max-width: 1100px;
    min-height: 757px;
    background: url(../images/cover.jpg) no-repeat center / cover;
    margin: 96px 0px auto 0px;
    z-index: 0;
}

.cover-text {
    position: relative;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    color: white;
    line-height: 1.22;
    text-transform: uppercase;
    padding-top: 165px;
    padding-left: 50px;
    padding-right: 50px;
}

.aligned-text {
    display:block;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    text-align:center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0em;
}

.subline {
    position: relative;
    z-index: 2;
    margin-left: 77px;
    margin-top: 123px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
}

.subline-text {
    font-weight: 400;
    word-spacing: 18px;
    text-align: center;
    max-width: 637px;
}

.button-text {
    text-align: center;
    width: 256px;
    border: white;
    border-style: solid;
    border-width: 1px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-transform: uppercase;
    background: none;
    color: white;
    margin-right: 50px;
    padding-top: 12px;
    padding-bottom: 11px;
}

.overlay {
    position: absolute;
    background-color: rgb(0 0 0 / .5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.lot-section {
    margin-top: 180px;
    margin-left: 24px;
}

.all-cards {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 1052px;
    min-height: 563px;
    list-style-type: none;
    margin-top: 24px;
    padding-bottom: 30px;
}

.card {
    width: 334px;
    height: 563px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    
}

.lot-header {
    z-index: 2;
    align-self: flex-start;
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-transform: uppercase;
} 

.film {
    background-image: url(../images/card-lot-01.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

.book {
    background-image: url(../images/card-lot-02.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

.art {
    background-image: url(../images/card-lot-03.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

.card-header {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    color: white;
    z-index: 2;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 51px
}

.card-text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    z-index: 2;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
}

.link-more {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    margin-left: 40px;
}

.about {
    min-height: 595px;
    width: 1052px;
    margin-top: 146px;
    margin-left: 24px;
    display:grid;
    grid-template-columns: 334px 2fr;
}

.black-circle {
    height: 240px;
    width: 240px;
    background-color: #111;
    margin: 35px auto auto 47px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-white {
    width: 148px;
}

.right-column {
    padding-top: 133px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
}

.discription {
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.about-header {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-transform: uppercase;
}

.about-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    width: 1000px;
    min-height: 98px;
    margin-top: 180px;
    margin-bottom: 88px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.footer-contact {
    line-height: 24.3px;
    width: 240.52px;
}

.links {
    text-align: center;
}

.link-text {
    list-style-type:none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: center;
}

.social-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.icon {
    width: 48px;
    height: 48px;
}